.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    list-style-type: none;
}

.menu_item {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.75;
}
